<div id="formContent">
   <form id="appFormSetSummary" name="appFormSetSummary" class="form_biaodan">
    <div class="form_row" label="1">
     <div style="text-align:left;">
      综合评价
     </div>
    </div>
    <div class="form_row">
     <div>
      尽职调查过程：
     </div>
     <div>
      {{ data.dueDiligenceProcess }}
     </div>
    </div>
    <div class="form_row">
     <div>
      申请人资信和管理能力综述：
     </div>
     <div>
      {{ data.creditManagementCa }}
     </div>
    </div>
    <div class="form_row">
     <div>
      申请人财务经营情况综述：
     </div>
     <div>
      {{ data.sumFinanceApe }}
     </div>
    </div>
    <div class="form_row">
     <div>
      担保情况评价：
     </div>
     <div>
      {{ data.securityEval }}
     </div>
    </div>
    <div class="form_row">
     <div>
      用途及还款来源评价：
     </div>
     <div>
      {{ data.useRepayEval }}
     </div>
    </div>
    <div class="form_row">
     <div>
      风险揭示：
     </div>
     <div>
      {{ data.riskDiscosure }}
     </div>
    </div>
    <div class="form_row">
     <div>
      风险防范措施评价：
     </div>
     <div>
      {{ data.evalRiskPre }}
     </div>
    </div>
    <div class="form_row" label="1">
     <div style="text-align:left;">
      结论性意见
     </div>
    </div>
    <div class="form_row">
     <div>
      信贷调查结论：
     </div>
     <div>
      {{ data.creditInvConclusion }}
     </div>
    </div>
    <div class="form_row">
     <div>
      备注：
     </div>
     <div>
      {{ data.node }}
     </div>
    </div>
   </form>
  </div>